.filtro {}
.filtro p {
    font-family: "Panton";
    font-size: 20px;
    letter-spacing: 0.03em;
    line-height: 35px;
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    padding-left: 40px;
    margin-bottom: 30px;
}
.filtro p::before {
    content: "";
    background-image: url('img/icon-filter-white.svg');
    background-repeat: no-repeat;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 32px;
    height: 30px;
}
.filtro form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.filtro form select {
    flex-basis: 40%;
    border-radius: 10px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 15px;
    letter-spacing: 0.04em;
    line-height: 20px;
    color: #61534e;
    border: none;
    outline: none;
    margin-bottom: 20px;
    -webkit-appearance: none;
    background-image: url('img/icon-arrow-down-brown.svg');
    background-repeat: no-repeat;
    background-position: 90% center;
}
.filtro form select option {
}
.filtro input {
    flex-basis: 55%;
    border-radius: 10px;
    border: none;
    padding: 0 20px;
    text-transform: uppercase;
    height: calc(2.25rem + 2px);
    text-align: left;
    outline: none;
}
.filtro input.input-submit {
    flex-basis: 30%;
    position: relative;
    cursor: pointer;
    background-image: url('img/icon-search.svg');
    background-repeat: no-repeat;
    background-position: 10% center;
    font-weight: 600;
    text-align: center;
    transition: all ease .5s;
}
.filtro input.input-submit:hover {
    transition: all ease .5s;
    transform: scale(0.95);
    opacity: .7;
}
.filtro a {
    background-color: #fff;
    border-radius: 10px;
    height: calc(2.25rem + 2px);
    flex-basis: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 600;
    text-transform: uppercase;
    text-decoration: none;
    transition: all ease .5s;
}
.filtro a:hover {
    transition: all ease .5s;
    transform: scale(0.95);
    opacity: .7;
}
.filtro a.limpar {
    position: relative;
    background-image: url(img/icon-trash.svg);
    background-repeat: no-repeat;
    background-position: 10% center;
    text-transform: uppercase;
}